Create a new file named "config.json" in Google Colab and paste the following connectionString into it.

In [ ]:
#!pip install azure-storage-blob # Microoft Azure
#!pip install pyarrow
#!pip install psycopg2 sqlalchemy
#!pip install pyodbc

In [ ]:
import pandas as pd
import numpy as np
import json
import requests
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from math import ceil
import datetime
import calendar
from sqlalchemy import create_engine
import pyodbc

In [ ]:
# Function

# Azure Functions
def azure_upload_blob(connect_str, container_name, blob_name, data):
    blob_service_client = BlobServiceClient.from_connection_string(connect_str)
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
    blob_client.upload_blob(data, overwrite=True)
    print(f"Uploaded to Azure Blob: {blob_name}")

def azure_download_blob(connect_str, container_name, blob_name):
    blob_service_client = BlobServiceClient.from_connection_string(connect_str)
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
    download_stream = blob_client.download_blob()
    return download_stream.readall()

In [ ]:
# Specify the path to your JSON configuration file
config_file_path = 'config.json'

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)

# Retrieve the connection string from the config
CONNECTION_STRING_AZURE_STORAGE = config["connectionString"]
CONTAINER_AZURE = "tsaweather"

# Initialize the BlobServiceClient
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE)

# Get the container client
container_client = blob_service_client.get_container_client(CONTAINER_AZURE)

# Function to read blob data and return DataFrame
def read_blob_as_dataframe(blob_name):
    blob_client = container_client.get_blob_client(blob=blob_name)
    blob_data = blob_client.download_blob()
    blob_content = blob_data.readall().decode('utf-8')
    return pd.read_csv(StringIO(blob_content))

# List all blobs in the specified container
blob_list = container_client.list_blobs()
for blob in blob_list:
    print("Blob name:", blob.name)
    # Read blob content into DataFrame
    df = read_blob_as_dataframe(blob.name)
    # Display the shape of the DataFrame
    #print(df.shape)

Blob name: airportlocation.csv
Blob name: tsadata Jul1-Dec31.csv
Blob name: weatherdata Jul1-Dec31.csv

In [ ]:
airportlocation_df = read_blob_as_dataframe("airportlocation.csv")
tsadata_df = read_blob_as_dataframe("tsadata Jul1-Dec31.csv")
weatherdata_df = read_blob_as_dataframe("weatherdata Jul1-Dec31.csv")

In [ ]:
# Convert the 'Date' and 'Time' columns to datetime
tsadata_df['DateTime'] = pd.to_datetime(tsadata_df['Date'] + ' ' + tsadata_df['Time'])

# Drop the original 'Date' and 'Time' columns if needed
tsadata_df.drop(columns=['Date', 'Time'], inplace=True)

In [ ]:
# Convert 'Time' column to string data type
weatherdata_df['Time'] = weatherdata_df['Time'].astype(str)

# Add leading zero to single-digit times
weatherdata_df['Time'] = weatherdata_df['Time'].apply(lambda x: x.zfill(2))

# Combine 'Date' and 'Time' columns into a single 'DateTime' column
weatherdata_df['DateTime'] = pd.to_datetime(weatherdata_df['Date'] + ' ' + weatherdata_df['Time'])

# Drop the original 'Date' and 'Time' columns
weatherdata_df.drop(columns=['Date', 'Time'], inplace=True)

In [ ]:
# Create Date Dimension

def week_of_month(dt):
    year = dt.year
    month = dt.month
    day = dt.day

    cal = calendar.monthcalendar(year, month)
    week_number = (day - 1) // 7 + 1
    return week_number

start_date = pd.to_datetime('2023-07-01')
end_date = pd.to_datetime('2023-12-31')
# Create a DataFrame for the date dimension
date_dimension = pd.DataFrame({'date': pd.date_range(start_date, end_date, freq='H')})

date_dimension.head(25)

# Extract attributes
date_dimension['Year_number'] = date_dimension['date'].dt.year
date_dimension['Quarter_number'] = date_dimension['date'].dt.quarter
date_dimension['Month_number'] = date_dimension['date'].dt.month
date_dimension['MonthName'] = date_dimension['date'].dt.strftime('%B')
date_dimension['Day_number'] = date_dimension['date'].dt.day
date_dimension['DayName'] = date_dimension['date'].dt.strftime('%A')
date_dimension['Hour_number'] = date_dimension['date'].dt.hour
date_dimension['Dateisoformat'] = date_dimension['date'].apply(lambda x: x.isoformat())
date_dimension['DateOriginalFormat'] = date_dimension['date']
date_dimension['Date_ID'] = date_dimension['date'].dt.strftime('%Y%m%d%H')

# Add week of the month and week of the year
date_dimension['WeekoftheMonth'] = date_dimension['date'].apply(week_of_month)
date_dimension['WeekofTheYear'] = date_dimension['date'].dt.strftime('%U')

new_order = ['Date_ID', 'DateOriginalFormat' , 'Dateisoformat','Year_number','Quarter_number','Month_number','Day_number','Hour_number','MonthName','DayName','WeekofTheYear','WeekoftheMonth']
date_dimension = date_dimension[new_order]

date_dimension

,Date_ID,DateOriginalFormat,Dateisoformat,Year_number,Quarter_number,Month_number,Day_number,Hour_number,MonthName,DayName,WeekofTheYear,WeekoftheMonth
0,2023070100,2023-07-01 00:00:00,2023-07-01T00:00:00,2023,3,7,1,0,July,Saturday,26,1
1,2023070101,2023-07-01 01:00:00,2023-07-01T01:00:00,2023,3,7,1,1,July,Saturday,26,1
2,2023070102,2023-07-01 02:00:00,2023-07-01T02:00:00,2023,3,7,1,2,July,Saturday,26,1
3,2023070103,2023-07-01 03:00:00,2023-07-01T03:00:00,2023,3,7,1,3,July,Saturday,26,1
4,2023070104,2023-07-01 04:00:00,2023-07-01T04:00:00,2023,3,7,1,4,July,Saturday,26,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4388,2023123020,2023-12-30 20:00:00,2023-12-30T20:00:00,2023,4,12,30,20,December,Saturday,52,5
4389,2023123021,2023-12-30 21:00:00,2023-12-30T21:00:00,2023,4,12,30,21,December,Saturday,52,5
4390,2023123022,2023-12-30 22:00:00,2023-12-30T22:00:00,2023,4,12,30,22,December,Saturday,52,5
4391,2023123023,2023-12-30 23:00:00,2023-12-30T23:00:00,2023,4,12,30,23,December,Saturday,52,5
4392,2023123100,2023-12-31 00:00:00,2023-12-31T00:00:00,2023,4,12,31,0,December,Sunday,53,5

In [ ]:
len(date_dimension)

4393

In [ ]:
# Creating Location Dimension
# Read the lookup.csv file with pandas
location_lookup_df = pd.read_csv('lookup.csv')
location_lookup_df.head()

,Location_ID,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,1,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16834.0,100.9,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,2,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37642.0,479.2,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,3,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49075.0,551.7,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,4,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5590.0,48.7,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,5,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25542.0,265.7,72011,Añasco,"{""72011"": 96.7, ""72099"": 2.81, ""72083"": 0.37, ...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [ ]:
len(location_lookup_df)

17737

In [ ]:
# convert column to string
location_lookup_df['zip'] = location_lookup_df['zip'].astype(str)

In [ ]:
# Add leading zeros to the "zip" column
location_lookup_df['zip'] = location_lookup_df['zip'].str.zfill(5)

In [ ]:
# Selecting specific columns
selected_columns = ['Location_ID', 'city', 'state_name', 'lat', 'lng', 'zip']
selected_df = location_lookup_df[selected_columns]

rename_mapping = {
    'city': 'City',
    'state_name': 'State',
    'lat': 'Latitude',
    'lng': 'Longitude',
    'zip': 'Zipcode'
}

# Display the first few rows of the selected DataFrame
#selected_df.head()

location_df = selected_df.rename(columns=rename_mapping)
#location_df.head()

In [ ]:
#len(location_df)

In [ ]:
# Creating Airport Dimension

# Assuming 'IATA' in tsadata_df corresponds to 'Code' in airportlocation_df
merged_df = pd.merge(tsadata_df, airportlocation_df, left_on='IATA', right_on='Code', how='left')
#print(merged_df)

In [ ]:
# Reset index to create a new index column
merged_df.reset_index(drop=True, inplace=True)

# Add 1 to the index to start IDs from 1
merged_df['Airport_ID'] = merged_df.index + 1

# Display the DataFrame with Airport_ID
#merged_df.head()

In [ ]:
# Selecting specific columns
selected1_columns = ['Airport_ID' , 'Code', 'Longitude', 'Latitude', 'Checkpoint']
selected1_df = merged_df[selected1_columns]

rename_mapping = {
    'Code': 'Airport_code',
    'Longitude': 'Airport_Longitude',
    'Latitude': 'Airport_Latitude',
    'Checkpoint': 'Airport_Checkpoints',
}

# Display the first few rows of the selected DataFrame
#selected_df.head()

airport_df = selected1_df.rename(columns=rename_mapping)
airport_df.head()

,Airport_ID,Airport_code,Airport_Longitude,Airport_Latitude,Airport_Checkpoints
0,1,ANC,-149.997892,61.181035,South Checkpoint
1,2,ATL,-84.429271,33.637799,Main Checkpoint
2,3,AUS,-97.665010,30.193489,AUS01
3,4,BOS,-71.013640,42.363177,E2
4,5,BQN,-67.134216,18.493461,Rafael Hernandez Air

In [ ]:
len(airport_df)

1279481

In [ ]:
# Airport_ID
# Select needed columns
tsadata1_df = tsadata_df.loc[:, ["DateTime", "IATA", "State", "City", "Total_pax_kcm_pax"]]

# Display the modified tsadata_df dataframe
#print(tsadata1_df)

In [ ]:
## Create a mapping dictionary using the unique values in the 'IATA' column and assign a unique integer ID to each value using the factorize functioniata_id_mapping = {iata: iata_id for iata_id, iata in enumerate(tsadata1_df['IATA'].unique())}
iata_id_mapping = {iata: iata_id + 1 for iata_id, iata in enumerate(tsadata1_df['IATA'].unique())}
tsadata1_df['Airport_ID'] = tsadata1_df['IATA'].map(iata_id_mapping)

# Print the first few rows of the DataFrame with the new 'IATA_ID' column
#print(tsadata1_df)

In [ ]:
#len(tsadata1_df)

In [ ]:
# Date_ID
# Convert 'DateTime' column to datetime format if it's not already
tsadata1_df['DateTime'] = pd.to_datetime(tsadata1_df['DateTime'])

# Create 'Date_ID' column by formatting the 'DateTime' column
tsadata1_df['Date_ID'] = tsadata1_df['DateTime'].dt.strftime('%Y%m%d%H')

# Print the DataFrame with the new 'Date_ID' column
#print(tsadata1_df)

In [ ]:
# Create the Location_ID column
tsadata1_df['Location_ID'] = tsadata1_df.apply(lambda row: f"{row['State']}-{row['City']}", axis=1)

# Number the Location_ID column
tsadata1_df['Location_ID'] = tsadata1_df['Location_ID'].astype('category').cat.codes + 1

# Display the result
print(tsadata1_df)

                   DateTime IATA State            City  Total_pax_kcm_pax  \
0       2023-07-01 00:00:00  ANC    AK       Anchorage                200
1       2023-07-01 00:00:00  ATL    GA         Atlanta                 41
2       2023-07-01 00:00:00  AUS    TX          Austin                  7
3       2023-07-01 00:00:00  BOS    MA     East Boston                 78
4       2023-07-01 00:00:00  BQN    PR       Aguadilla                130
...                     ...  ...   ...             ...                ...
1279476 2023-12-31 23:00:00  SFO    CA   San Francisco                149
1279477 2023-12-31 23:00:00  SJU    PR        San Juan                268
1279478 2023-12-31 23:00:00  SLC    UT  Salt Lake City                180
1279479 2023-12-31 23:00:00  SMF    CA      Sacramento                103
1279480 2023-12-31 23:00:00  SMF    CA      Sacramento                382

         Airport_ID     Date_ID  Location_ID
0                 1  2023070100            2
1                 2  2023070100          104
2                 3  2023070100          347
3                 4  2023070100          165
4                 5  2023070100          324
...             ...         ...          ...
1279476          34  2023123123           58
1279477          36  2023123123          326
1279478          37  2023123123          371
1279479         113  2023123123           55
1279480         113  2023123123           55

[1279481 rows x 8 columns]

In [ ]:
len(merged_df)

1279481

In [ ]:
weatherdata_df

,airport_code,temperature_2m,relative_humidity_2m,precipitation,wind_speed_100m,DateTime
0,FLA,22.674002,95.24831,0.0,11.525623,2023-07-01 00:00:00
1,FLA,22.524000,95.53443,0.2,11.901798,2023-07-01 01:00:00
2,FLA,22.174002,99.69590,0.6,1.018234,2023-07-01 02:00:00
3,FLA,22.074001,100.00000,0.5,0.000000,2023-07-01 03:00:00
4,FLA,21.574001,100.00000,0.6,8.350138,2023-07-01 04:00:00
...,...,...,...,...,...,...
1965115,BMI,0.078500,64.02891,0.0,31.651350,2023-12-31 19:00:00
1965116,BMI,0.178500,65.28199,0.0,32.427986,2023-12-31 20:00:00
1965117,BMI,0.428500,65.58792,0.0,33.168877,2023-12-31 21:00:00
1965118,BMI,0.278500,70.69769,0.0,32.289810,2023-12-31 22:00:00
1965119,BMI,0.078500,78.47038,0.1,27.105392,2023-12-31 23:00:00

In [ ]:
merged_df = pd.merge(tsadata1_df, weatherdata_df, left_on=['DateTime', 'IATA'], right_on=['DateTime', 'airport_code'], how='inner')

In [ ]:
merged_df

,DateTime,IATA,State,City,Total_pax_kcm_pax,Airport_ID,Date_ID,Location_ID,airport_code,temperature_2m,relative_humidity_2m,precipitation,wind_speed_100m
0,2023-07-01 00:00:00,ANC,AK,Anchorage,200,1,2023070100,2,ANC,13.2730,77.242560,0.0,15.941944
1,2023-07-01 00:00:00,ATL,GA,Atlanta,41,2,2023070100,104,ATL,27.3830,61.699554,0.0,5.959060
2,2023-07-01 00:00:00,AUS,TX,Austin,7,3,2023070100,347,AUS,34.8540,40.860170,0.0,24.881702
3,2023-07-01 00:00:00,BOS,MA,East Boston,78,4,2023070100,165,BOS,23.3365,78.501890,0.0,12.984975
4,2023-07-01 00:00:00,BQN,PR,Aguadilla,130,5,2023070100,324,BQN,27.2840,83.708460,0.0,1.938659
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274192,2023-12-31 23:00:00,SFO,CA,San Francisco,149,34,2023123123,58,SFO,12.7375,83.918180,0.2,4.104631
1274193,2023-12-31 23:00:00,SJU,PR,San Juan,268,36,2023123123,326,SJU,26.3565,67.493645,0.0,25.704100
1274194,2023-12-31 23:00:00,SLC,UT,Salt Lake City,180,37,2023123123,371,SLC,2.0485,84.740990,0.0,8.714677
1274195,2023-12-31 23:00:00,SMF,CA,Sacramento,103,113,2023123123,55,SMF,12.9045,80.363700,0.0,5.154416
1274196,2023-12-31 23:00:00,SMF,CA,Sacramento,382,113,2023123123,55,SMF,12.9045,80.363700,0.0,5.154416

In [ ]:
new_column_names ={
    'Total_pax_kcm_pax': 'throughput(pax)',
    'temperature_2m': 'hourly_temp(f)',
    'relative_humidity_2m': 'hourly_relative_humidity_2m',
    'precipitation': 'hourly_precipitation',
    'Location_ID': 'location_id_(fk)',
    'Date_ID' : 'date_id_(fk)',
    'Airport_ID': 'airport_id_(fk)',
}

In [ ]:
final_df = merged_df.rename(columns=new_column_names)
final_df['fact_id'] = range(1, len(final_df) + 1)
new_order = ['fact_id','throughput(pax)','hourly_temp(f)','hourly_relative_humidity_2m','wind_speed_100m','hourly_precipitation','location_id_(fk)','date_id_(fk)',
             'airport_id_(fk)']
final_df = final_df[new_order]
final_df

,fact_id,throughput(pax),hourly_temp(f),hourly_relative_humidity_2m,wind_speed_100m,hourly_precipitation,location_id_(fk),date_id_(fk),airport_id_(fk)
0,1,200,13.2730,77.242560,15.941944,0.0,2,2023070100,1
1,2,41,27.3830,61.699554,5.959060,0.0,104,2023070100,2
2,3,7,34.8540,40.860170,24.881702,0.0,347,2023070100,3
3,4,78,23.3365,78.501890,12.984975,0.0,165,2023070100,4
4,5,130,27.2840,83.708460,1.938659,0.0,324,2023070100,5
...,...,...,...,...,...,...,...,...,...
1274192,1274193,149,12.7375,83.918180,4.104631,0.2,58,2023123123,34
1274193,1274194,268,26.3565,67.493645,25.704100,0.0,326,2023123123,36
1274194,1274195,180,2.0485,84.740990,8.714677,0.0,371,2023123123,37
1274195,1274196,103,12.9045,80.363700,5.154416,0.0,55,2023123123,113
1274196,1274197,382,12.9045,80.363700,5.154416,0.0,55,2023123123,113

In [ ]:
# Database connection URL
pwd = '521YanZunYi'
database_url = f'postgresql://eddy:{pwd}@cisdatawarehousebaruch1.postgres.database.azure.com/postgres'

# Create a SQLAlchemy engine
engine = create_engine(database_url)

In [ ]:

location_df.to_sql('dimension-location', con=engine, if_exists='append', index=False)

737

In [ ]:

airport_df.to_sql('dimension_airport', con=engine, if_exists='append', index=False)

481

In [ ]:

date_dimension.to_sql('dimension_date', con=engine, if_exists='append', index=False)

393

In [ ]:

final_df.to_sql('tsa-weather-facts', con=engine, if_exists='append', index=False)

197

In [ ]:
date_dimension.to_csv("date_dimension",index=False)

In [ ]:
location_df.to_csv("location_dimension",index=False)

In [ ]:
airport_df.to_csv("airport_dimension",index=False)

In [ ]:
final_df.to_csv("facts_vehicles",index=False)